[Desktop Entry]
Exec=ryver
Icon=ryver
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;
Name=Ryver
GenericName=Ryver
Comment=Ryver
